{% extends 'default.html' %}


{% block title %}
Post
{% endblock title %}


{% block content %}
<h1>{{ post.name }}</h1>
<h2>{{ post.text|safe }}</h2>

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form>
<hr>
{% if post.comment %}
<table>
    {% for com in post.comment %}
    <tr>
        <td>
        <h2>{{com.user}} : {{ com.text }} </h2>
        </td>
        <td>
        {% if user == post.user %}
            {% if not com.status and post.user != com.user %}
                <td><button type="button"><a href="/board/reply_on/{{ com.id }}/"> Откликнуться </a></button></td>
            {% elif com.status and post.user != com.user %}
                <td><button type="button"><a href="/board/reply_off/{{ com.id }}/"> Отменить отклик </a></button></td>
            {% endif %}
        {% endif %}
        </td>
    </tr>

    {% endfor %}
</table>
{% endif %}

{% endblock content %}

